/* variables */

:root{
    --theme-color: #0078d4;
}

/* basics */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.btn{
    background: none;
    border: none;
}

/* top bar styles */
header.top-bar-wrapper{
    display: flex;
    padding: 20px;
    border-bottom: 2px solid #dfdfdf;
    min-width: 350px;
}
header.top-bar-wrapper img{
    height: 30px;
}

section.one-of-three{
    display: flex;
    flex: 1 0 45%;
    gap: 20px;
}

.one-of-three a{
    text-decoration: none;
    color: black;
    font-weight: 500;
    font-size: 1.3em;
    transform: translateY(20%);
   
}


section.two-of-three{
    flex: 1 0 10%;
}
.two-of-three a{
    justify-self: center;
    height: 100%;
}
.two-of-three a img{
    height: 40px;
}

section.three-of-three{
    display:flex;
    flex: 1 0 45%;
    justify-content: flex-end;
    gap: 20px;
}

.sign-in-wrapper{
    transform: translateY(20%);
}
.sign-in-wrapper a{
    text-decoration: none;
    padding: 12px;
    justify-self: center;
    font-size: 1.1em;
    color: black;
}

/* end of top-bar */

/* banner 1 css  */

.banner-wrapper{
    padding: 20px 40px;
    background-color: var(--theme-color);
    text-align: center;
    font-weight: 550;
    word-spacing: 0.1em;
    line-height: 1.4em;
}

.link-wrapper a, .link-wrapper span{
    color: #fff;
    text-decoration: none;
    
}
.link-wrapper a:hover{
    text-decoration: underline;
    text-underline-offset: #fff;
}

/* banner 2 css */

.banner-2-wrapper{
    width: 100%;
    background-color: #dfdfdf;
}

.banner-2-wrapper img{
    width: 100%;
}

/* web intro part css */

.intro-wrapper{
    padding: 36px 51px;
    text-align: center;
}

.web-name-wrapper span{
    color: var(--theme-color);
    font-size: 1.5em;
    /* font-weight: 600; */
}

.intro-heading-wrapper h2{
    font-size: 3.5em;
    font-weight: 600;
    font-family:  'Segoe UI',SegoeUI,'Helvetica Neue',Helvetica,Arial,sans-serif;;

}

.intro-content-wrapper{
    margin-top: 30px;
    font-size: 1.3em;
    line-height: 1.4em;
}

.intro-btn-wrapper{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding: 40px;
}

.intro-btn-wrapper button.get-started{
    flex-basis: 100%;
    background-color: var(--theme-color);
    padding: 15px 0;
    color: #fff;
    font-size: 1.03em;
}

button.get-started:hover{
    text-decoration: underline;
    background-color: #006dc0;
}

.intro-btn-wrapper button.try-free-btn{
    flex-basis: 100%;
    border: 1px solid var(--theme-color);
    color: var(--theme-color);
    padding: 15px 0;
    font-weight: bold;
}

button.try-free-btn:hover{
    color: #fff;
    background-color: var(--theme-color);
    text-decoration: underline;
}

