/* variables */

:root{
    --theme-color: #0078d4;
}

/* basics */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* overflow-x: hidden; */
}


.btn{
    background: none;
    border: none;
}

/* top bar styles */
header.top-bar-wrapper{
    display: flex;
    padding: 20px;
    border-bottom: 2px solid #dfdfdf;
    min-width: 350px;
}
header.top-bar-wrapper img{
    height: 30px;
}

section.one-of-three{
    display: flex;
    flex: 1 0 45%;
    gap: 20px;
}

.one-of-three a{
    text-decoration: none;
    color: black;
    font-weight: 500;
    font-size: 1.3em;
    transform: translateY(20%);
   
}


section.two-of-three{
    flex: 1 0 10%;
}
.two-of-three a{
    justify-self: center;
    height: 100%;
}
.two-of-three a img{
    height: 40px;
}

section.three-of-three{
    display:flex;
    flex: 1 0 45%;
    justify-content: flex-end;
    gap: 20px;
}

.sign-in-wrapper{
    transform: translateY(20%);
}
.sign-in-wrapper a{
    text-decoration: none;
    padding: 12px;
    justify-self: center;
    font-size: 1.1em;
    color: black;
}

/* end of top-bar */

/* banner 1 css  */

.banner-wrapper{
    padding: 20px 40px;
    background-color: var(--theme-color);
    text-align: center;
    font-weight: 550;
    word-spacing: 0.1em;
    line-height: 1.4em;
}

.link-wrapper a, .link-wrapper span{
    color: #fff;
    text-decoration: none;
    
}
.link-wrapper a:hover{
    text-decoration: underline;
    text-underline-offset: #fff;
}

/* banner 2 css */

.banner-2-wrapper{
    width: 100%;
    background-color: #dfdfdf;
}

.banner-2-wrapper img{
    width: 100%;
}

/* web intro part css */

.intro-wrapper{
    padding: 36px 51px;
    text-align: center;
}

.web-name-wrapper span{
    color: var(--theme-color);
    font-size: 1.5em;
    /* font-weight: 600; */
}

.intro-heading-wrapper h2{
    font-size: 3.5em;
    font-weight: 600;
    font-family:  'Segoe UI',SegoeUI,'Helvetica Neue',Helvetica,Arial,sans-serif;;

}

.intro-content-wrapper{
    margin-top: 30px;
    font-size: 1.3em;
    line-height: 1.4em;
}

.intro-btn-wrapper{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding: 40px;
}

.intro-btn-wrapper button.get-started{
    flex-basis: 100%;
    background-color: var(--theme-color);
    padding: 15px 0;
    color: #fff;
    font-size: 1.03em;
}

button.get-started:hover{
    text-decoration: underline;
    background-color: #006dc0;
}

.intro-btn-wrapper button.try-free-btn{
    flex-basis: 100%;
    border: 1px solid var(--theme-color);
    color: var(--theme-color);
    padding: 15px 0;
    font-weight: bold;
}

button.try-free-btn:hover{
    color: #fff;
    background-color: var(--theme-color);
    text-decoration: underline;
}

/* features section css  (second section)*/

.second-section-features{
    padding: 60px 0;
}
.heading-of-feature-section{
    text-align: center;
    padding: 0px 20px 30px 20px;
}

.heading-of-feature-section h2{
    font-weight: 550;
    word-spacing: 0.01em;

}

.feature-section img{
    width: 70px;
    height: 90px;
}

.accelerate-growth-wrapper, .empower-section, .get-expert-help-section{
    display: flex;
    padding: 10px;
    margin: 10px;
    gap: 1em;
    border: 0.1px solid #dfdfdf;
    border-radius: 20px;
    text-decoration: none;
    transition: 0.2s;
    
}
.accelerate-growth-link-wrapper, .empower-link-wrapper, .get-expert-help-section-link-wrapper{
    display: flex;
    align-self: center;
}
.accelerate-growth-link-wrapper a, .empower-link-wrapper a, .get-expert-help-section-link-wrapper a{
    text-decoration: none;
    color: var(--theme-color);
}

.accelerate-growth-wrapper:hover, .empower-section:hover, .get-expert-help-section:hover{
    text-decoration: underline;
    box-shadow: 2px 2px 2px 2px #dfdfdf;
}

.overview-section-wrapper{
    display: flex;
    padding: 30px;
    flex-wrap: wrap;
    gap: 20px;
    text-align: center;
    box-sizing: border-box;
}
.new-to-azure{
    flex: 1 0 100%;

}
.get-overview-wrapper{
    margin-top: 20px;
    flex: 1 0 100%;
    border: 1px solid var(--theme-color);
    color: var(--theme-color);
    padding: 15px 0;
    font-weight: bold;
}
.get-overview-wrapper:hover{
    color: #fff;
    background-color: var(--theme-color);
    text-decoration: underline;
}

/* third section idaes into action section */

.ideas-into-action-section{
    padding: 60px 0;
    background-color: #f7f7f7;
}
.ideas-into-action-heading-wrapper{
    text-align: center;
    padding: 0 15px;
}

.prodcts-and-services-wrapper{
    margin-top: 40px;
    padding: 0 15px;
    
    /* box-sizing: inherit; */
}

.services-catogories{
    display: flex;
    padding: 20px;
    margin: 10px 0;
    border: 1px solid #dfdfdf;
    box-shadow: 2px 2px 2px 2px #dfdfdf;
    border-radius: 10px;
    justify-content: space-between;
    background-color: #fff;
    cursor:pointer;
}

.catogory-wrapper span{
    text-decoration: none;    
    font-weight: bold;
    font-size: 1.2em;
}
.services-catogories:hover{
    color: var(--theme-color);
    font-size: 1.3em;
    text-decoration: underline;
}

.open{
    transform: rotateZ(180deg);
}
.upward-img-wrapper img{
    height: 20px;
}

/* .catogory-wrapper::after{
    content: url(assets/upword-arrow-img.png);
    height: 1px;
    transform: rotateZ(45);

} */

/* gird section */

.service-items{
    padding: 10px;
    margin-top: 30px;
}

.service-item-wrapper{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 10px;
    /* grid-column: span 2; */
}
.service-item-wrapper img{
    height: 90px;
    width: 90px;
    padding: 10px;
}
.card{
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
    text-align: center;
    grid-column: span 2;
    border: 1px solid #dfdfdf;
    box-shadow: 2px 2px #dfdfdf;
    background-color: #fff;
    cursor: pointer;
}
.card:hover{
    box-shadow: 0 5px 10px rgb(0 0 0 / 14%);
}

.card-part-1 p{
    padding: 10px;
    font-size: 0.9em;
    line-height: 1.9em;

}
.card-part-2{
    flex: 1 0 100%;
    color: var(--theme-color);
    align-self: flex-end;
}

.all-products-link-wrapper{
    margin-top: 30px;
    padding: 0 10px;
    text-align: center;
}
.all-products-link-wrapper a{
    text-decoration: none;
    color: var(--theme-color);
}

.all-products-link-wrapper a:hover{
    text-decoration: underline;
    color: black;
}

.model-img-mobile-view-wrapper{
    margin: 40px 20px 0 20px;
    /* height: 100%; */
    /* width: 100%; */
    border: 10px solid #000;
    border-radius: 10px;
}

.model-img-mobile-view-wrapper img{
    width: 100%;
}

/* customer section */

section.customers-section{
    overflow-x: hidden;
}

.customers-sec-heading-wrapper{
    padding: 50px 10px;
    text-align: center;
    font-weight: 500;
    font-size: 0.9em;
}
.customer-card-wrapper{
    position: relative;
}

.customer-cards{
    display: flex;
    width: 600%;
    overflow-x: hidden;
}
.customer-cards::-webkit-scrollbar{
    /* display: none; */
    visibility: hidden;
}
.customer-card{
    width: 100%;
    transition: 0.6s;
    /* flex: 1 0 100%; */
}

.customer-logo{
    /* text-align: center; */
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

.forza-img-wrapper img{
    /* height: 50%; */
    width: 100%;
    max-height: 30%;
}

.customer-card-description{
    padding: 30px 25px;
}

.customer-description-wrapper p{
    font-size: 1.5em;
}

.case-study-wrapper{
    margin-top: 30px;
}

.case-study-wrapper span{
    font-weight: 500;
    color: var(--theme-color);
}
.case-study-wrapper span:hover{
    text-decoration: underline;
}

.case-study-wrapper::after{
    content:'>';
    color: var(--theme-color);
}

.navigation-wrapper{
    display: flex;
    justify-content: space-between;
    width: 50%;
    position: absolute;
    left: 50%;
    bottom: 10px;
    transform: translateX(-50%);
    
}

.circle{
    width: 10px;
    height: 10px;
    border-radius: 50px;
    background-color: #726c6c;
    cursor: pointer;
}

input[name="r"]{
    position: absolute;
    visibility: hidden;
}

#r1:checked ~ .s1{
    margin-left: 0;
}
#r2:checked ~ .s1{
    margin-left: -100%;
}
#r3:checked ~ .s1{
    margin-left: -200%;
}
#r4:checked ~ .s1{
    margin-left: -300%;
}
#r5:checked ~ .s1{
    margin-left: -400%;
}
#r6:checked ~ .s1{
    margin-left: -500%;
}

/* accelerate and migration part section five */

.accelerate-migration-section{
    padding: 50px 10px;
    margin-top: 50px;
    text-align: center;
    background-color: #f7f7f7;
}
.accelerate-section-img-wrapper img{
    width: 100%;
}

.accelerate-migration-heading-wrapper{
    padding: 30px 10px;
}
.accelerate-migration-heading-wrapper h2{
    font-size: 2.7em;
    font-weight: 500;
    padding: 10px 30px;

}

.accelerate-migration-button-wrapper{
    color: var(--theme-color);
    border: 1px solid var(--theme-color);
    padding: 10px 0;
    margin: 0 20px;
    border-radius: 5px;
    transition: 0.2s;
}

.accelerate-migration-button-wrapper:hover{
    color: #fff;
    background-color: var(--theme-color);
    text-decoration: underline;
}

/* sixth section (whats happening on Azure */

.discover-whats-happpening-on-azure{
    padding: 30px 20px;
    box-sizing: border-box;
}

.whats-happening-on-azure-heading-wrapper{
    text-align: center;
    padding: 20px 5px;
    margin-top: 40px;
}
.whats-happening-on-azure-heading-wrapper h2{
    font-weight: 500;
}

.whats-happening-on-azure-contents-wrapper{
    display: flex;
    gap: 20px;
    overflow-x: scroll;
    
}

.whats-happening-on-azure-content-wrapper{
    flex: 1 0 80%;    
    border: 1px solid #dfdfdf;
    border-radius: 10px;
    margin-bottom: 50px;
    min-width: 240px;
   
}
.whats-happening-on-azure-content-wrapper img{
    height: 50%;
    width: 100%;

}.whats-happening-on-azure-content-wrapper:hover{
    box-shadow: 0 5px 10px rgb(0 0 0 / 14%);
}


.whats-happening-on-azure-content-sub-heading-wrapper{
    padding: 20px 10px;
    font-size: 0.9em;
}

.content-p-wrapper{
    padding: 0 10px 20px 10px;
    font-size: 1.1em;
    word-spacing: 0.2em;
    line-height: 1.5em;
    cursor: pointer;
}
.content-p-wrapper:hover{
    text-decoration: underline;
}